[Interface]
PrivateKey = {{ lookup("file", wg_key) }}
Address = {{ wg_ipv4 }}.1/24
ListenPort = {{ wg_port }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg_interface }} -j MASQUERADE

{% for wg_peer in wg_peers %}
[Peer]
PublicKey = {{ lookup("file", wg_peer) }}
AllowedIPs = {{ wg_ipv4 }}.{{ loop.index + 1 }}/32
{%- if not loop.last %}

{% endif %}  
{% endfor %}
