[Unit]
Description={{ joal_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ joal_user }}
Group={{ joal_user }}

SuccessExitStatus=143
WorkingDirectory={{ joal_var }}

Type=simple
ExecStart=java -jar {{ joal_lib }}/jack-of-all-trades-{{ joal_version }}.jar --joal-conf={{ joal_var }}
ExecStop=/bin/kill -15 $MAINPID

Restart=on-failure
RestartSec=5
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ joal_name }}

[Install]
WantedBy=multi-user.target
