[Interface]
Address = {{ config_wireguard_ip_adress }}.{{ index + 2 }}/24
ListenPort = {{ config_wireguard_port }}
PrivateKey = {{ lookup("file", config_dir + "/wireguard/keys/" + item) }}
DNS = {{ config_wireguard_dns }}

[Peer]
PublicKey = {{ lookup("file", config_dir + "/wireguard/keys/host.pub") }}
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = {{ config_wireguard_domain }}:{{ config_wireguard_port }}
