set timeout=5
set default=run

if search --no-floppy --set root_part --label ROOT; then
  if test -e ($root_part)/SIGNAL_RESET; then
    set default=install
  fi
fi

menuentry "[BOOT] Run" --id run {
  search --no-floppy --set boot_part --label BOOT
  linux ($boot_part)/vmlinuz root=LABEL=ROOT ro quiet
  initrd ($boot_part)/initrd.img
}

menuentry "[BOOT] Install (press i)" --id install --hotkey i {
  search --no-floppy --set cdrom_part --label CDROM
  linux ($cdrom_part)/install/vmlinuz auto=true file=/cdrom/.config/preseed.cfg priority=critical
  initrd ($cdrom_part)/install/initrd.gz
}
