[Unit]
Description={{ servarr_name }}
After=syslog.target network.target

[Service]
User={{ servarr_user }}
Group={{ servarr_user }}

Type=simple
ExecStart={{ servarr_lib }}/{{ servarr_executable }} -nobrowser -data={{ servarr_var }}/

KillMode=process
Restart=on-failure
RestartSec=5
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ servarr_name }}

[Install]
WantedBy=multi-user.target
