user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections 1024;
}

http {
  server {
    server_name {{ public_domain }};
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /mnt/data/certbot/config/live/{{ public_domain }}/fullchain.pem;
    ssl_certificate_key /mnt/data/certbot/config/live/{{ public_domain }}/privkey.pem;

    auth_basic on;
    auth_basic_user_file /etc/htpasswd;

    {% filter indent(width=4) %}{% include "qbittorrent.j2" %}{% endfilter %}
    
    {% filter indent(width=4) %}{% include "sabnzbd.j2" %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8083,name="prowlarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8084,name="radarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8085,name="sonarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}

  }

  server {
    server_name {{ public_domain }};
    listen 80;
    listen [::]:80;

    location / {
      return 301 https://$server_name$request_uri;
    }
  }

  server {
    server_name {{ private_domain }};
    listen 80;
    listen [::]:80;

    {% filter indent(width=4) %}{% include "qbittorrent.j2" %}{% endfilter %}
    
    {% filter indent(width=4) %}{% include "sabnzbd.j2" %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8083,name="prowlarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8084,name="radarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}
    
    {% filter indent(width=4) %}{% with port=8085,name="sonarr" %}{% include "servarr.j2" %}{% endwith %}{% endfilter %}

  }
}
