{% with name=qbittorrent_1_name,port=qbittorrent_1_port %}{% include "qbittorrent.j2" %}{% endwith %}

{% with name=sabnzbd_1_name,port=sabnzbd_1_port %}{% include "sabnzbd.j2" %}{% endwith %}

{% with name=prowlarr_1_name,port=prowlarr_1_port %}{% include "servarr.j2" %}{% endwith %}

{% with name=jackett_1_name,port=jackett_1_port %}{% include "jackett.j2" %}{% endwith %}

{% with name=radarr_1_name,port=radarr_1_port %}{% include "servarr.j2" %}{% endwith %}

{% with name=radarr_2_name,port=radarr_2_port %}{% include "servarr.j2" %}{% endwith %}

{% with name=sonarr_1_name,port=sonarr_1_port %}{% include "sonarr.j2" %}{% endwith %}

{% with name=sonarr_2_name,port=sonarr_2_port %}{% include "sonarr.j2" %}{% endwith %}
