IMG_NAME=raspi
DEPLOY_COMPRESSION=none
TARGET_HOSTNAME={{ config_raspi_network_hostname }}
FIRST_USER_NAME=root
FIRST_USER_PASS=root
DISABLE_FIRST_BOOT_USER_RENAME=1
PIGEN_DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"
STAGE_LIST="stage0 stage1 stage"
