[Global]
  workgroup = HOME
  netbios name = SERVER
  multicast dns register = no
  max log size = 1000
  hide files = /lost+found/
  bind interfaces only = yes
  interfaces = {{ samba_address }}
  min protocol = SMB2
  force user = {{ user_name }}
  force group = {{ user_name }}
  create mask = 0600
  directory mask = 0700
  ea support = yes
  vfs objects = fruit streams_xattr
  fruit:metadata = stream
  fruit:model = MacSamba
  fruit:posix_rename = yes 
  fruit:veto_appledouble = no
  fruit:nfs_aces = no
  fruit:wipe_intentionally_left_blank_rfork = yes
  fruit:delete_empty_adfiles = yes

{% for item in __samba_shares %}
[{{ item.name }}]
{% if item.timemachine %}
  fruit:time machine = yes
{% endif %}
  valid users = {{ item.users | join(" ") }}
  comment = {{ item.name }}
  path = {{ item.path }}
  browseable = yes
  writeable = yes
  spotlight = yes

{% endfor %}
