[Global]
workgroup = HOME
netbios name = SERVER
multicast dns register = no
max log size = 1000
hide files = /lost+found/
bind interfaces only = yes
interfaces = {{ samba_address }}
min protocol = SMB2 
force user = {{ user_name }}
force group = {{ user_name }}
create mask = 0600
directory mask = 0700
ea support = yes
vfs objects = fruit streams_xattr  
fruit:metadata = stream
fruit:model = MacSamba
fruit:posix_rename = yes 
fruit:veto_appledouble = no
fruit:nfs_aces = no
fruit:wipe_intentionally_left_blank_rfork = yes 
fruit:delete_empty_adfiles = yes 

{% for share in samba_shares %}
[{{ share.name }}]
{% if share.timemachine | default(false) %}
fruit:time machine = yes
{% endif %}
valid users = {{ share.users | join(" ") }}
comment = {{ share.name }}
path = {{ service_var_dir }}/data/{{ share.name | lower }}
browseable = yes
writeable = yes
spotlight = yes
{% endfor %}
