[{{ samba_section }}]
    valid users = {{ samba_user }}
    comment = {{ samba_section }}
    path = {{ samba_var }}
    browseable = yes
    writeable = yes
    spotlight = yes
    vfs objects = catia fruit streams_xattr
    fruit:aapl = yes
    fruit:time machine = yes
