{
  "APIKey": "{{ jackett_key }}",
  "InstanceId": "{{ jackett_id }}",
  "LocalBindAddress": "{{ jackett_address }}",
  "Port": {{ jackett_port }},
  "AllowExternal": false,
  "AdminPassword": null
}
