{
  "Port": {{ jackett_port }},
  "LocalBindAddress": "{{ jackett_address }}",
  "AllowExternal": true,
  "AllowCORS": false,
  "APIKey": "{{ jackett_key }}",
  "AdminPassword": null,
  "InstanceId": "{{ jackett_id }}",
  "BlackholeDir": null,
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": null,
  "BaseUrlOverride": null,
  "CacheEnabled": true,
  "CacheTtl": 2100,
  "CacheMaxResultsPerIndexer": 1000,
  "FlareSolverrUrl": "http://{{ jackett_solverr_address }}:{{ jackett_solverr_port }}",
  "FlareSolverrMaxTimeout": 55000,
  "OmdbApiKey": null,
  "OmdbApiUrl": null,
  "ProxyType": 0,
  "ProxyUrl": null,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}
