{
  "Port": {{ jackett_port }},
  "LocalBindAddress": "{{ jackett_address }}",
  "AllowExternal": {{ jackett_external | to_json }},
  "AllowCORS": false,
  "APIKey": "{{ api_key }}",
  "AdminPassword": null,
  "InstanceId": "{{ instance_id }}",
  "BlackholeDir": null,
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": null,
  "BaseUrlOverride": null,
  "CacheEnabled": true,
  "CacheTtl": 2100,
  "CacheMaxResultsPerIndexer": 1000,
  "FlareSolverrUrl": null,
  "FlareSolverrMaxTimeout": 55000,
  "OmdbApiKey": null,
  "OmdbApiUrl": null,
  "ProxyType": 0,
  "ProxyUrl": null,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}
