[Unit]
Description={{ service_name }}

After=network-online.target
Wants=network-online.target

After=local-fs.target
Requires=local-fs.target

RequiresMountsFor={{ service_lib_dir }}
RequiresMountsFor={{ service_etc_dir }}
RequiresMountsFor={{ service_run_dir }}
RequiresMountsFor={{ service_var_dir }}
RequiresMountsFor={{ service_log_dir }}

StartLimitInterval=0
StartLimitBurst=0

[Service]
Restart=always
RestartSec=300

User={{ user_name }}
Group={{ user_name }}
UMask=0077

{% if service_chroot %}
RootDirectory={{ service_opt_dir }}/chroot
RootDirectoryStartOnly=yes
BindReadOnlyPaths={{ service_lib_dir }}
BindReadOnlyPaths={{ service_etc_dir }}
BindPaths={{ service_run_dir }}
BindPaths={{ service_var_dir }}
BindPaths={{ service_log_dir }}
{% else %}
ReadWritePaths={{ service_run_dir }}
ReadWritePaths={{ service_var_dir }}
ReadWritePaths={{ service_log_dir }}
{% endif %}

DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

SyslogIdentifier={{ service_name }}
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
