[Unit]
Description=samba
After=network-online.target
After=local-fs.target
Wants=network-online.target
Requires=local-fs.target

{% for item in (service_readonly + service_readwrite) | flatten %}
RequiresMountsFor={{ item }}
{% endfor %}

StartLimitInterval=0
StartLimitBurst=0

[Service]
DevicePolicy=closed
LockPersonality=True
MemoryDenyWriteExecute=True
NoNewPrivileges=True
PrivateDevices=True
PrivateTmp=True
PrivateUsers=True
ProtectClock=True
ProtectControlGroups=True
ProtectHome=True
ProtectHostname=True
ProtectKernelLogs=True
ProtectKernelModules=True
ProtectKernelTunables=True
ProtectSystem=strict
RestrictNamespaces=True
RestrictRealtime=True
RestrictSUIDSGID=True

Restart=always
RestartSec=300
UMask=0077
User={{ user_name }}
Group={{ user_name }}

SyslogIdentifier={{ service_name }}
StandardOutput=journal
StandardError=inherit

{% if service_chrooted %}
RootDirectory={{ service_chroot }}
{% for item in service_readonly | flatten %}
BindReadOnlyPaths={{ item }}
{% endfor %}
{% for item in service_readwrite | flatten %}
BindPaths={{ item }}
{% endfor %}
{% else %}
{% for item in service_readwrite | flatten %}
ReadWritePaths={{ item }}
{% endfor %}
{% endif %}

{% for v1 in service_config %}
{% for k2, v2 in v1.items() %}
{{ k2 }}={{ v2 }}
{% endfor %}
{% endfor %}

[Install]
WantedBy=multi-user.target
