#!/bin/bash

set -e -o pipefail

umask 0077

COMMAND="$1"
BRANCH="$2"

if [ ! "$COMMAND" == "apply" ] && [ ! "$COMMAND" == "check" ]; then
   exit 1
fi

if [[ "${BRANCH}" =~ [^-0-9a-zA-Z] ]]; then
   exit 1
fi

REPOSITORY="{{ installer_lib }}/repository"

source "{{ installer_venv }}/bin/activate"

rm -rf "$REPOSITORY"
git clone --depth 1 --branch "$BRANCH" "{{ installer_git }}" "$REPOSITORY"

for DIR in "group_vars" "host_vars/{{ installer_host }}" "files/{{ installer_host }}"; do
   find "$REPOSITORY/{{ installer_directory }}/$DIR" -type l -delete
   rsync --ignore-existing --chown="root:root" --chmod="Du=rwx,go=,Fu=rw,og=" -r \
     "{{ installer_lib }}/archive/$DIR/" "$REPOSITORY/{{ installer_directory }}/$DIR/"
done

if [ "$COMMAND" == "check" ]; then
   ARG="-C"
fi

ANSIBLE_HOSTS="$(ls "$REPOSITORY/{{ installer_directory }}/host_vars" | tr '\n' ',')"
ANSIBLE_CONFIG="$REPOSITORY/ansible.cfg" \
  ansible-playbook -i "$ANSIBLE_HOSTS" -c local $ARG \
  --skip-tags installer \
  "$REPOSITORY/{{ installer_directory }}/{{ installer_host }}.yml"

rm -rf "$REPOSITORY"
