map $cookie_auth_token $authorized {
  "{{ cookie }}" "off";
  default "on";
}

server {
  server_name {{ public_domain }};
  listen 443 ssl;
  listen [::]:443 ssl;

  ssl_certificate /mnt/data/certbot/config/live/{{ public_domain }}/fullchain.pem;
  ssl_certificate_key /mnt/data/certbot/config/live/{{ public_domain }}/privkey.pem;

  auth_basic $authorized;
  auth_basic_user_file {{ htpasswd }};

  add_header Set-Cookie "auth_token={{ cookie }};max-age=604800;path=/;SameSite=strict;Secure;HttpOnly";

  {% filter indent(width=2) %}{% include "proxy.j2" %}{% endfilter %}

}

server {
  server_name {{ public_domain }};
  listen 80;
  listen [::]:80;

  location / {
    return 301 https://$server_name$request_uri;
  }
}

server {
  server_name {{ private_domain }};
  listen 80;
  listen [::]:80;

  {% filter indent(width=2) %}{% include "proxy.j2" %}{% endfilter %}

}
