#!/bin/bash

set -e -o pipefail

export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

if [ ! -f /install/expand.done ]; then
  export PATH=$PATH:/usr/sbin/
  /usr/bin/raspi-config --expand-rootfs
  touch /install/expand.done
  /usr/sbin/reboot
  exit 0
fi

if [ ! -f /install/playbook.done ]; then
  apt-get install -y python3 python-is-python3 ansible-core
  ANSIBLE_HOSTS="$(ls "/install/host_vars" | tr '\n' ',')"
  ansible-playbook -i "$ANSIBLE_HOSTS" -c local "/install/install.yml"
  touch /install/playbook.done
fi
