#!/bin/bash

set -e -o pipefail

export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

if [ ! -f /install/install.done ]; then
  apt-get update
  apt-get install -y python3 python-is-python3 ansible-core
  ANSIBLE_HOSTS="$(ls "/install/host_vars" | tr '\n' ',')"
  ansible-playbook -i "$ANSIBLE_HOSTS" -c local "/install/install.yml"
  touch /install/install.done
fi
